

  .menuContainer {
    padding: 0;
    border-right: 2px solid #2e6de1; 
  }
  
  .menuContainer li {
    list-style: none;
    margin: 5px 0;
    padding: 5px 0px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  }
  
  .menuContainer li a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 17px;
  }
  
  .menuContainer li a:hover {
    color: #2e6de1; /* Hover color */
  }
  
  .menuContainer li a:visited {
    color: #ffffff; /* Color for visited links */
  }
  
  .menuContainer li a i {
    font-size: 18px;
    margin-right: 15px;
  }
  
  .menuContainer li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -15px;
    width: 0px;
    height: 100%;
    background: #2e6de1;
    border-radius: 5px;
  }
  
  .menuContainer li:hover::before {
    width: 5px;
    transition: width 0.5s;
  }
  
  .artist-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start; /* Align items to the left */
  }
  
  .artist-info {
    display: flex;
    align-items: center;
  }
  
  .name-and-verified {
    display: flex;
    align-items: center;
  }
  
  .artist-name {
    margin-right: 8px; /* Adjust the spacing between the name and the verified icon */
  }
  
  .followers-text {
    margin-top: 4px; /* Adjust the spacing between the name/icon and followers text */
  }
  
  .verified-indicator {
    position: relative;
    /* Other styles for the parent container */
  }
  
  .verified-text {
    display: none;
    font-size: 16px;
    position: absolute;
    top: -30px; /* Adjust positioning as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
  }
  
  .verified-indicator:hover .verified-text {
    display: block;
  }