

  .menuContainer {
    padding: 0;
    border-right: 2px solid #2e6de1; 
  }
  
  .menuContainer li {
    list-style: none;
    margin: 5px 0;
    padding: 5px 0px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  }
  
  .menuContainer li a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 17px;
  }
  
  .menuContainer li a:hover {
    color: #2e6de1; /* Hover color */
  }
  
  .menuContainer li a:visited {
    color: #ffffff; /* Color for visited links */
  }
  
  .menuContainer li a i {
    font-size: 18px;
    margin-right: 15px;
  }
  
  .menuContainer li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -15px;
    width: 0px;
    height: 100%;
    background: #2e6de1;
    border-radius: 5px;
  }
  
  .menuContainer li:hover::before {
    width: 5px;
    transition: width 0.5s;
  }
  