

  .menuContainer {
    padding: 0;
    border-right: 2px solid #2e6de1; 
  }
  
  .menuContainer li {
    list-style: none;
    margin: 5px 0;
    padding: 5px 0px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  }
  
  .menuContainer li a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 17px;
  }
  
  .menuContainer li a:hover {
    color: #2e6de1; /* Hover color */
  }
  
  .menuContainer li a:visited {
    color: #ffffff; /* Color for visited links */
  }
  
  .menuContainer li a i {
    font-size: 18px;
    margin-right: 15px;
  }
  
  .menuContainer li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -15px;
    width: 0px;
    height: 100%;
    background: #2e6de1;
    border-radius: 5px;
  }
  
  .menuContainer li:hover::before {
    width: 5px;
    transition: width 0.5s;
  }
  
  .artist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
  }

  
  .artist-info {
    display: flex;
    align-items: center;
  }
  
  .name-and-verified {
    display: flex;
    align-items: center;
  }
  
  .artist-name {
    margin-right: 8px; /* Adjust the spacing between the name and the verified icon */
  }
  
  .followers-text {
    margin-top: 4px; /* Adjust the spacing between the name/icon and followers text */
  }
  
  .verified-indicator {
    position: relative;
    /* Other styles for the parent container */
  }
  
  .verified-text {
    display: none;
    font-size: 16px;
    position: absolute;
    top: -30px; /* Adjust positioning as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
  }
  
  .verified-indicator:hover .verified-text {
    display: block;
  }

  .rectangle-backdrop2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background-color: whitesmoke;
    opacity: 0.5;
    z-index: -1;
  }

  .form-container {
    margin-top: 240px; /* Adjust the value as needed */
  }

  .rectangle-backdrop3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background-color: whitesmoke;
    opacity: 0.5;
  }

  .leftMenu-black {
    width: 200px;
    height: 100%;
    min-height: 100vh;
    background: #000000;
    backdrop-filter: blur(10px);
    padding: 25px 20px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .textblack{
    color: black;
    font-size: 25px;
    font-weight: 700;
    padding-left: 30px;
    margin-top: 4px;
  }

  .followers-text {
    margin-top: 4px; /* Adjust the spacing between the name/icon and followers text */
  }

  .content-container {
    display: flex;
  }

  .doughnut-content-container {
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity to make it more milky white */
    backdrop-filter: blur(20px); /* Increase blur for a softer effect */
    -webkit-backdrop-filter: blur(20px); /* For compatibility with Safari */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Adjust border opacity to match background */
    display: flex;
  }

  .doughnut-list-content-container {
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity to make it more milky white */
    backdrop-filter: blur(20px); /* Increase blur for a softer effect */
    -webkit-backdrop-filter: blur(20px); /* For compatibility with Safari */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Adjust border opacity to match background */
    display: flex;
    width: 300px;
  }

  .doughnut-bar-content-container {
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity to make it more milky white */
    backdrop-filter: blur(20px); /* Increase blur for a softer effect */
    -webkit-backdrop-filter: blur(20px); /* For compatibility with Safari */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Adjust border opacity to match background */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .doughnut-bar-content-container {
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity to make it more milky white */
    backdrop-filter: blur(20px); /* Increase blur for a softer effect */
    -webkit-backdrop-filter: blur(20px); /* For compatibility with Safari */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Adjust border opacity to match background */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bar-chart-container {
    width: 600px; /* Increase the width */
    height: 500px; /* Increase the height */
  }
  
  .bar-scrollbar-table {
    margin: 0 auto; /* Center the table horizontally */
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: left;  
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
  
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity to make it more milky white */
    backdrop-filter: blur(20px); /* Increase blur for a softer effect */
    -webkit-backdrop-filter: blur(20px); /* For compatibility with Safari */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Adjust border opacity to match background */
  }
  
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .chart-boxes {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .bar-chart-container {
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity to make it more milky white */
    backdrop-filter: blur(20px); /* Increase blur for a softer effect */
    -webkit-backdrop-filter: blur(20px); /* For compatibility with Safari */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Adjust border opacity to match background */
  
    width: auto;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  
.scrollbar-table {
  height: 300px;
  width: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: left;  
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

  
.customer-scrollbar-table {
  height: 300px;
  overflow: auto;
  display: flex;
  
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-height: 300px;
  overflow: auto;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}




.adminContainer-modified {
  display: flex;
  height: 100vh;
}

.container-album-new {
  max-width: 600px;
  margin: 50px auto 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 15px;
}
.plain-scrollbar-new {
  max-height: 100%;
  height: 100%;
  width: 100%;
}